[Unit]
Description=Renew Let's Encrypt certificates for XMPP stack
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory={{ xmpp_stack_app_root }}
ExecStart={{ xmpp_stack_app_root }}/scripts/certbot-renew.sh
